@model Project_OnlineBanking.Models.BankAccount;
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg"
         style="background-image: url(../User/assets/images/backgrounds/breadcrumb-area-bg-4.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
                        <h2>Home Loan</h2>
                    </div>
                    <div class="breadcrumb-menu" data-aos="fade-left" data-aos-easing="linear"
                         data-aos-duration="500">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Home Loan</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start Applying Process Area-->
<section class="applying-process-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Explore and Apply Now</h2>
            <div class="sub-title">
                <p>Customised soutions for all your banking needs.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-12">
                <div class="applying-process-step-box-top"></div>
            </div>
            <!--Start Single Applying Process box-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-applying-process-box">
                    <div class="applying-process-single-step-box">01</div>
                    <h3>Apply Here</h3>
                    <p>
                        Perfectly simple & easy to distinguish
                        of choice is prevents.
                    </p>
                </div>
            </div>
            <!--End Single Applying Process box-->
            <!--Start Single Applying Process box-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-applying-process-box">
                    <div class="applying-process-single-step-box">02</div>
                    <h3>Get Call Back</h3>
                    <p>
                        Claims off duty or the obligations it will
                        pleasures be repudiated.
                    </p>
                </div>
            </div>
            <!--End Single Applying Process box-->
            <!--Start Single Applying Process box-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-applying-process-box">
                    <div class="applying-process-single-step-box">03</div>
                    <h3>Process Your Request</h3>
                    <p>
                        Demoralized by charms pleasure of the
                        they cannot and trouble.
                    </p>
                </div>
            </div>
            <!--End Single Applying Process box-->
        </div>
    </div>
</section>
<!--End Applying Process Area-->
<!--Start Apply Form Area-->
<section class="apply-form-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="apply-form-box clearfix">
                    <div class="apply-form-box-bg"
                         style="background-image: url(../User/assets/images/resources/apply-form-box-bg.jpg);"></div>
                    <div class="apply-form-box__content">
                        <div class="sec-title">
                            <h2>Send Your Request &<br> Get Call Back</h2>
                            <div class="sub-title">
                                <p>Fill all the necessary details and Get call from experts.</p>
                            </div>
                        </div>

                        <form method="post" asp-controller="account" asp-action="banknumber" class="default-form2" id="apply-form" name="apply_form">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <input type="text" placeholder="Username" required="">
                                            <div class="icon">
                                                <i class="fas fa-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <input type="email" placeholder="Email" required="">
                                            <div class="icon">
                                                <i class="fas fa-envelope-open"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <input type="text" placeholder="Phone">
                                            <div class="icon">
                                                <i class="fas fa-phone-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <input type="text" placeholder="Account Number" required="" asp-for="AccountNumber">
                                            <div class="icon">
                                                <i class="fas fa-id-card"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="button-box">
                                        <button class="btn-one" type="submit">
                                            <span class="txt">
                                                Send Request
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Apply Form Area-->
<!--Start Partner Area-->
<section class="partner-area">
    <div class="container">
        <div class="partner-area__sec-title">
            <h3>Corporate Partnership With</h3>
        </div>
        <div class="brand-content">
            <div class="owl-carousel owl-theme thm-owl__carousel partner-carousel" data-owl-options='{
                 "loop" : false,
                 "autoplay" : true,
                 "margin" : 25,
                 "nav" : false,
                 "dots" : false,
                 "smartSpeed" : 500,
                 "autoplayTimeout" : 10000,
                 "navText" : ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                        "responsive": {
                                "0": {
                                    "items": 1
                                },
                                "768": {
                                    "items": 3
                                },
                                "992": {
                                    "items": 4
                                },
                                "1200": {
                                    "items": 6
                                }
                            }
                        }'>

                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="~/User/assets/images/brand/brand-1-1.png" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="~/User/assets/images/brand/brand-1-2.png" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="~/User/assets/images/brand/brand-1-3.png" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="~/User/assets/images/brand/brand-1-4.png" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="~/User/assets/images/brand/brand-1-5.png" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="~/User/assets/images/brand/brand-1-6.png" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                    </div>
        </div>
    </div>
</section>
<!--End Partner Area-->