<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finbank || Login</title>
    <!-- Favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/User/assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/User/assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/User/assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="~/User/assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Finbank" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/User/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/thm-icons/style.css">
    <link rel="stylesheet" href="~/User/assets/vendors/language-switcher/polyglot-language-switcher.css">
    <!-- Module css -->
    <link rel="stylesheet" href="~/User/assets/css/module-css/01-header-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/02-banner-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/03-about-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/04-fact-counter-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/05-testimonial-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/06-partner-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/07-footer-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/08-blog-section.css">

    <!-- Template styles -->
    <link rel="stylesheet" href="~/User/assets/css/style.css" />
    <link rel="stylesheet" href="~/User/assets/css/responsive.css" />
    <link rel="stylesheet" href="~/User/assets/css/login.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var msg = '@TempData["msg"]';
        console.log(msg);
        if (msg) {
            setTimeout(() => {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Username Or Password Incorrect!!!",
                });
            }, 400);
        } 
        var lock = '@TempData["lock"]';
        if (lock) {
            setTimeout(() => {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "If your account has been locked, please go to the nearest Finbank for authentication",
                });
            }, 400);
        }
    </script>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="post" asp-controller="account" asp-action="login">
                    <div class="logo-box"> 
                        <img src="~/User/assets/images/resources/logo-1.png" alt="Awesome Logo" title="">
                    </div>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" name="username" value="@TempData["username"]" required>
                        <label>Username</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <button type="submit">Login</button>
                    <div class="forget"><a asp-controller="account" asp-action="login">Forget Password</a>
                    </div>
                    <div class="register">
                        <p>Don't have a account <a asp-controller="account" asp-action="register">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>