<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finbank || OTP</title>
    <!-- Favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/User/assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/User/assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/User/assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="~/User/assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Finbank" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/User/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/thm-icons/style.css">
    <link rel="stylesheet" href="~/User/assets/vendors/language-switcher/polyglot-language-switcher.css">
    <!-- Module css -->
    <link rel="stylesheet" href="~/User/assets/css/module-css/01-header-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/02-banner-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/03-about-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/04-fact-counter-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/05-testimonial-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/06-partner-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/07-footer-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/08-blog-section.css">

    <!-- Template styles -->
    <link rel="stylesheet" href="~/User/assets/css/style.css" />
    <link rel="stylesheet" href="~/User/assets/css/responsive.css" />
    <link rel="stylesheet" href="~/User/assets/css/otp.css">
    <script>
        function otp(){
            swal.fire({
                title: 'Are you sure?',
                text: 'You will not be able to recover this imaginary file!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, keep it'
            }).then(function () {
                swal('Deleted!', 'Your imaginary file has been deleted.', 'success');
            }, function (dismiss) {
                if (dismiss === 'cancel') {
                    swal('Cancelled', 'Your imaginary file is safe :)', 'error');
                }
            });
        }
    </script>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                @* <form>
                    <div class="logo-box"> 
                        <img src="~/User/assets/images/resources/logo-1.png" alt="Awesome Logo" title="">
                    </div>
                    <br />
                    <h2>OTP has been sent to your mail</h2>
                    <br />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input class="space" type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <br />
                    <br />
                    <button type="submit">Confirm</button>
                </form> *@
                <button onclick="otp()">Confirm</button>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>