<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finbank</title>
    <!-- Favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/User/assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/User/assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/User/assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="~/User/assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Finbank" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="~/User/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="~/User/assets/vendors/thm-icons/style.css">
    <link rel="stylesheet" href="~/User/assets/vendors/language-switcher/polyglot-language-switcher.css">
    <link rel="stylesheet" href="~/User/assets/vendors/aos/aos.css">
    <!-- Module css -->
    <link rel="stylesheet" href="~/User/assets/css/module-css/01-header-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/02-banner-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/03-about-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/04-fact-counter-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/05-testimonial-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/06-partner-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/07-footer-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/08-blog-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/09-breadcrumb-section.css">
    <link rel="stylesheet" href="~/User/assets/css/module-css/10-contact.css">

    <!-- Template styles -->
    <link rel="stylesheet" href="~/User/assets/css/style.css" />
    <link rel="stylesheet" href="~/User/assets/css/responsive.css" />

</head>


<body>

    <!-- Start preloader -->
    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">x</div>
            <div id="handle-preloader" class="handle-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="f" class="letters-loading">
                            f
                        </span>
                        <span data-text-preloader="i" class="letters-loading">
                            i
                        </span>
                        <span data-text-preloader="n" class="letters-loading">
                            n
                        </span>
                        <span data-text-preloader="b" class="letters-loading">
                            b
                        </span>
                        <span data-text-preloader="a" class="letters-loading">
                            a
                        </span>
                        <span data-text-preloader="n" class="letters-loading">
                            N
                        </span>
                        <span data-text-preloader="k" class="letters-loading">
                            k
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End preloader -->

    <div class="page-wrapper">
        <header class="main-header main-header-style1">
             
            <nav class="main-menu main-menu-style1">
                <div class="main-menu__wrapper clearfix">
                    <div class="container">
                        <div class="main-menu__wrapper-inner">

                            <div class="main-menu-style1-left">
                                <div class="logo-box-style1">
                                    <a asp-controller="home" asp-action="index">
                                        <img src="~/User/assets/images/resources/logo-1.png" alt="Awesome Logo" title="">
                                    </a>
                                </div>

                                <div class="main-menu-box">
                                    <a href="#" class="mobile-nav__toggler">
                                        <i class="icon-menu"></i>
                                    </a>

                                    <ul class="main-menu__list">
                                        <li class="megamenu">
                                            <a asp-controller="home" asp-action="index">Home</a>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#">Services</a>
                                            <ul>
                                                <li class="dropdown">
                                                    <a href="#">Banking</a>
                                                    <ul>
                                                        <li><a href="#funds">Funds Transfer</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Account</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a asp-controller="transaction" asp-action="index" asp-route-type="all">Transaction</a>
                                            <ul>
                                                <li><a asp-controller="transaction" asp-action="index" asp-route-type="Transfer">Funds Transfer</a></li>
                                                <li><a asp-controller="transaction" asp-action="index" asp-route-type="Receive">Receive Funds</a></li>
                                                <li><a asp-controller="transaction" asp-action="index" asp-route-type="Recharge">Recharge</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a asp-controller="report" asp-action="index">Financial Report</a>
                                        </li>
                                        <li>
                                            <a asp-controller="contact" asp-action="index">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="main-menu-style1-right">
                                <div class="header-btn-one">
                                    <a asp-controller="account" asp-action="logout">
                                        <span class="icon-home-button"></span>Logout
                                    </a>
                                    <a class="style2" asp-controller="account" asp-action="banknumber">
                                        <span class="icon-payment"></span>Open New Number Account
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!--Start Main Header Style1 Bottom-->
            <div class="main-header-style1-bottom">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="update-box">
                            <div class="inner-title">
                                <span class="icon-megaphone"></span>
                                <h4>Updates:</h4>
                            </div>
                            <div class="text">
                                <p>Get upto 4%* on our Savings Account Balances with Finbank.</p>
                                <a href="#"><span class="icon-chevron"></span>More Details</a>
                            </div>
                        </div>
                        <div class="slogan-box">
                            <p>Dear Customer, We have launched Video KYC facility for New customer to open savings ac
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Main Header Style1 Bottom-->

        </header>


        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        @RenderBody()

        <!--Start footer area -->
        <footer class="footer-area">
            <div class="right-shape">
                <img src="~/User/assets/images/shapes/footer-right-shape.png" alt="">
            </div>

            <!--Start Footer Top-->
            <div class="footer-top">
                <div class="lef-shape">
                    <span class="icon-origami"></span>
                </div>
                <div class="container">
                    <div class="row">
                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>Loans</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Home Loan</a></li>
                                        <li><a href="#">Car Loan</a></li>
                                        <li><a href="#">Two Wheeler Loan</a></li>
                                        <li><a href="#">Commercial Vehicle Loan</a></li>
                                        <li><a href="#">Personal Loan</a></li>
                                        <li><a href="#">Tractor Loan</a></li>
                                        <li><a href="#">Construction Loan</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>Rates & Charges</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Interest Rates</a></li>
                                        <li><a href="#">Gold Rate Today</a></li>
                                        <li><a href="#">Service Charges & Fees</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-footer-widget single-footer-widget--link-box-style2">
                                <div class="title">
                                    <h3>Online</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Mobile Banking</a></li>
                                        <li><a href="#">Internet Banking</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>About Us</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Our Story</a></li>
                                        <li><a href="#">Board of Directors</a></li>
                                        <li><a href="#">Management Committee</a></li>
                                        <li><a href="#">Media</a></li>
                                        <li><a href="#">Investor Relations</a></li>
                                        <li><a href="#">Awards & Recognition</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>Services</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Savings Account</a></li>
                                        <li><a href="#">Current Account</a></li>
                                        <li><a href="#">Deposits</a></li>
                                        <li><a href="#">Cards</a></li>
                                        <li><a href="#">Payments</a></li>
                                        <li><a href="#">Insurance</a></li>
                                        <li><a href="#">Locker Facility</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                    </div>
                </div>
            </div>
            <!--End Footer Top-->

            <!--Start Footer-->
            <div class="footer">
                <div class="container">
                    <div class="row">

                        <!--Start single footer widget-->
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                            <div class="single-footer-widget marbtm50">
                                <div class="our-company-info">
                                    <div class="footer-logo-style1">
                                        <a href="index.html">
                                            <img src="~/User/assets/images/footer/footer-logo-1.png" alt="Awesome Logo"
                                                title="">
                                        </a>
                                    </div>
                                    <div class="copyright-text">
                                        <p>
                                            Copyright &copy; 2022 <a href="index.html">Finbank.</a> Licensed by the<br>
                                            Central Bank of United States.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                            <div class="single-footer-widget marbtm50">
                                <div class="footer-widget-contact-info">
                                    <ul>
                                        <li>
                                            <h3>
                                                <a href="tel:2512353256">(800) 123 456 78</a>
                                            </h3>
                                            <p>Customer Care</p>
                                        </li>
                                        <li>
                                            <h3>Mon - Fri: 9.00am to 5.00pm</h3>
                                            <p>Banking Hours</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                            <div class="single-footer-widget">
                                <div class="single-footer-widget-right-colum">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                Download Forms
                                                <span class="icon-download"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Register Your Complaint
                                                <span class="icon-feedback"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                    </div>
                </div>
            </div>
            <!--End Footer-->

            <div class="footer-bottom">
                <div class="container">
                    <div class="bottom-inner">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Online Security Tips</a></li>
                            </ul>
                        </div>
                        <div class="footer-social-link">
                            <ul class="clearfix">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!--End footer area-->
    </div>
    <!-- /.page-wrapper -->






    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler">
                <i class="fas fa-plus"></i>
            </span>
            <div class="logo-box">
                <a asp-controller="home" asp-action="index">
                    <img src="~/User/assets/images/resources/mobile-nav-logo.png" alt="" />
                </a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:lenhath6@gmail.com">lenhath6@gmail.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:0909397979">0909 397979</a>
                </li>
            </ul>
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>


    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label>
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
    </div>


    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <i class="icon-chevron"></i>
    </a>


    <script src="~/User/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/User/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/User/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/User/assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="~/User/assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="~/User/assets/vendors/isotope/isotope.js"></script>
    <script src="~/User/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="~/User/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="~/User/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/User/assets/vendors/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/User/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/User/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/User/assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/User/assets/vendors/odometer/odometer.min.js"></script>
    <script src="~/User/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/User/assets/vendors/swiper/swiper.min.js"></script>
    <script src="~/User/assets/vendors/vegas/vegas.min.js"></script>
    <script src="~/User/assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="~/User/assets/vendors/wow/wow.js"></script>
    <script src="~/User/assets/vendors/extra-scripts/jquery.paroller.min.js"></script>
    <script src="~/User/assets/vendors/language-switcher/jquery.polyglot.language.switcher.js"></script>
    <script src="~/User/assets/vendors/aos/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Template js -->
    <script src="~/User/assets/js/custom.js"></script>


</body>

</html>