@model Project_OnlineBanking.Models.SupportTicket;
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg"
         style="background-image: url(../User/assets/images/backgrounds/breadcrumb-area-bg-6.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
                        <h2>Get In Touch</h2>
                    </div>
                    <div class="breadcrumb-menu" data-aos="fade-left" data-aos-easing="linear"
                         data-aos-duration="500">
                        <ul>
                            <li><a asp-controller="home" asp-action="index">Home</a></li>
                            <li class="active">Get In Touch</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start Main Contact Form Area-->
<section class="main-contact-form-area">
    <div class="container">
        <div class="row">

            <div class="col-xl-6">
                <div class="contact-info-box-style1">
                    <div class="box1"></div>
                    <div class="title">
                        <h2>Get Support for<br> any Queries or Complaints</h2>
                        <p>Committed to helping you meet all your banking needs.</p>
                    </div>

                    <ul class="contact-info-1">
                        <li>
                            <div class="icon">
                                <span class="icon-map"></span>
                            </div>
                            <div class="text">
                                <p>Corporate Office</p>
                                <h3>
                                    35/6 Street D5, Ward 25, District Binh Thanh,<br>
                                    Ho Chi Minh City.
                                </h3>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-clock"></span>
                            </div>
                            <div class="text">
                                <p>Office Hours</p>
                                <h3>Mon - Fri: 9.00am to 5.00pm</h3>
                                <span>[2nd Sat Holiday]</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-phone"></span>
                            </div>
                            <div class="text">
                                <p>Front Desk</p>
                                <h3><a href="tel:0909397979">+84 909397979</a></h3>
                                <h3><a href="mailto:lenhath6@gmail.com">lenhath6@gmail.com</a></h3>
                            </div>
                        </li>
                    </ul>

                    <div class="bottom-box">
                        <div class="btn-box">
                            <a href="#"><i class="fas fa-arrow-down"></i> Customer Care</a>
                        </div>
                        <div class="footer-social-link-style1">
                            <ul class="clearfix">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-xl-6">
                <div class="contact-form">
                    <form method="post" asp-controller="contact" asp-action="ticket">
                        <div class="form-group">
                            <label>Fullname</label>
                            <div class="input-box">
                                <input type="text" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-box">
                                <input type="email" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Phone</label>
                            <div class="input-box">
                                <input type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Subject</label>
                            <div class="input-box">
                                <input type="text" asp-for="Subject" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Message</label>
                            <div class="input-box">
                                <textarea asp-for="Description"></textarea>
                            </div>
                        </div>

                        <div class="button-box">
                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden"
                                   value="">
                            <button class="btn-one" type="submit" data-loading-text="Please wait...">
                                <span class="txt">
                                    send a message
                                </span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Main Contact Form Area-->
<!--Google Map Start-->
<section class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.94134642514916!2d106.71396425803785!3d10.806598517984446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529ed00409f09%3A0x11f7708a5c77d777!2zQXB0ZWNoIENvbXB1dGVyIEVkdWNhdGlvbiAtIEjhu4cgVGjhu5FuZyDEkMOgbyB04bqhbyBM4bqtcCBUcsOsbmggVmnDqm4gUXXhu5FjIHThur8gQXB0ZWNo!5e0!3m2!1svi!2s!4v1711996149427!5m2!1svi!2s"
            class="google-map__one" allowfullscreen></iframe>

    <div class="google-map-content-box">
        <div class="branch-atm-tab">
            <!--Start Branch Atm Tab Buttom-->
            <div class="branch-atm-tab__button">
                <ul class="tabs-button-box">
                    <li data-tab="#branch" class="tab-btn-item active-btn-item">
                        <h5>Branch</h5>
                    </li>
                    <li data-tab="#atm" class="tab-btn-item">
                        <h5>atm</h5>
                    </li>
                </ul>
                <div class="location-search-box">
                    <div class="location-search-box__inner">
                        <form class="search-form" action="#">
                            <div class="input-box">
                                <input placeholder="Enter Your Location" type="text">
                                <div class="icon">
                                    <span class="icon-map"></span>
                                </div>
                            </div>
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--End Branch Atm Tab Buttom-->
            <!--Start Tabs Content Box-->
            <div class="tabs-content-box">
                <!--Tab-->
                <div class="tab-content-box-item tab-content-box-item-active" id="branch">
                    <div class="branch-atm-tab-content-box-item">
                        <div class="inner-title">
                            <h3>Finbank,<br> Ho Chi Minh City</h3>
                        </div>
                        <ul>
                            <li>
                                <h3>ifsc</h3>
                                <p>404team</p>
                            </li>
                            <li>
                                <h3>Address</h3>
                                <p>Street D5, Ward 25, District Binh Thanh<br> Ho Chi Minh City</p>
                            </li>
                            <li>
                                <h3>Phone & Email</h3>
                                <p><a href="tel:0909397979">+84 909397979</a></p>
                                <p><a href="mailto:yourmail@email.com">support@finbank1234.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--Tab-->
                <div class="tab-content-box-item" id="atm">
                    <div class="branch-atm-tab-content-box-item">
                        <div class="inner-title">
                            <h3>Alabama, 23/8<br> West North Central</h3>
                        </div>
                        <ul>
                            <li>
                                <h3>Arizona</h3>
                                <p>404team</p>
                            </li>
                            <li>
                                <h3>Address</h3>
                                <p>D5, Binh Thanh<br> Ho Chi Minh City</p>
                            </li>
                            <li>
                                <h3>Phone & Email</h3>
                                <p><a href="tel:123456789">+84 123456789</a></p>
                                <p><a href="mailto:lenhath6@gmail.com">lenhath6@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Tabs Content Box-->

        </div>
    </div>

</section>
<!--Google Map End-->
<!--Start Customer Care Numbers Area-->
<section class="customer-care-numbers-area">
    <div class="container">
        <div class="title-box">
            <h2>Customer Care Numbers</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="customer-care-numbers-tab">

                    <div class="customer-care-numbers-tab__button">
                        <ul class="tabs-button-box clearfix">
                            <li data-tab="#personal-banking" class="tab-btn-item active-btn-item">
                                <h4>Personal Banking</h4>
                            </li>
                            <li data-tab="#corporate-banking" class="tab-btn-item">
                                <h4>Corporate Banking</h4>
                            </li>
                        </ul>
                    </div>

                    <!--Start Tabs Content Box-->
                    <div class="tabs-content-box">
                        <!--Tab-->
                        <div class="tab-content-box-item tab-content-box-item-active" id="personal-banking">

                            <div class="customer-care-numbers-tab-content-box-item">
                                <div class="customer-care-numbers-table-box">
                                    <div class="table-outer">
                                        <table class="customer-care-numbers-table">
                                            <thead class="header">
                                                <tr>
                                                    <th>Service</th>
                                                    <th>Contact Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="inner-title">
                                                        <h3>General Query/Complaint</h3>
                                                    </td>
                                                    <td class="contact-info">
                                                        <ul>
                                                            <li>
                                                                <a href="tel:2512353256">+844 123 4567 89</a>
                                                                <span>(Toll Free)</span>
                                                            </li>
                                                            <li>
                                                                <a class="color2"
                                                                   href="mailto:yourmail@email.com">customercare@finbank.com</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="inner-title">
                                                        <h3>Credit Card</h3>
                                                    </td>
                                                    <td class="contact-info">
                                                        <ul>
                                                            <li>
                                                                <a href="tel:2512353256">+844 789 0123 45</a>
                                                            </li>
                                                            <li>
                                                                <a class="color2"
                                                                   href="mailto:yourmail@email.com">creditcard@finbank.com</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="bottom-text text-center">
                                        <h3>To submit your complaint, <a href="#">Click here</a></h3>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!--Tab-->
                        <div class="tab-content-box-item" id="corporate-banking">

                            <div class="customer-care-numbers-tab-content-box-item">
                                <div class="customer-care-numbers-table-box">
                                    <div class="table-outer">
                                        <table class="customer-care-numbers-table">
                                            <thead class="header">
                                                <tr>
                                                    <th>Service</th>
                                                    <th>Contact Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="inner-title">
                                                        <h3>General Query/Complaint</h3>
                                                    </td>
                                                    <td class="contact-info">
                                                        <ul>
                                                            <li>
                                                                <a href="tel:2512353256">+844 123 4567 89</a>
                                                                <span>(Toll Free)</span>
                                                            </li>
                                                            <li>
                                                                <a class="color2"
                                                                   href="mailto:yourmail@email.com">customercare@finbank.com</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="inner-title">
                                                        <h3>Credit Card</h3>
                                                    </td>
                                                    <td class="contact-info">
                                                        <ul>
                                                            <li>
                                                                <a href="tel:2512353256">+844 789 0123 45</a>
                                                            </li>
                                                            <li>
                                                                <a class="color2"
                                                                   href="mailto:yourmail@email.com">creditcard@finbank.com</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="bottom-text text-center">
                                        <h3>To submit your complaint, <a href="#">Click here</a></h3>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Customer Care Numbers Area-->